* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    list-style-type: none;
    font-style: normal;
}

body {
    background: linear-gradient(to right, rgb(17, 58, 54), rgb(17, 21, 58));
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    line-height: 1.4;
    font-family: "Space Mono", monospace;
    background: #1d1f20;
    padding: 25px 35px;
    width: 300px;
    top: 20px;
    left: 20px;
    border-radius: 16px;
    box-shadow: 0 0 60px -15px black;
    transform: scale(0) rotate(360deg);
    transition: all 0.75s;
    font-size: 18px
}

nav.menu_active {
    transform: scale(1) rotate(0deg);
}

nav > ol > li {
    margin: 20px 0;
    color: rgb(92, 95, 255);
}

nav > ol > li:first-of-type {
    color: rgb(125, 255, 92);
}

nav > ol > li > ol {
    margin: 10px 0 0 20px;
    border-left: 1px solid grey;
    color: rgb(92, 181, 255);
}

nav > ol > li > ol > li {
    margin: 7px 0;
    padding-left: 20px;
}

nav a:hover {
    color: rgb(0, 255, 149);
}

.idk {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: all 0.3s;
    height: 80px;
    size: 80px;
}

img:hover {
    border-bottom: 6px dotted #cfd8dc;
    padding-bottom: 10px;
}
 
.onclick {
    font-family: "Roboto Mono", monospace;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
}

.onclick:hover {
    border-bottom: 2px dotted #cfd8dc;
    padding-bottom: 5px
}

.about {
    position: fixed;
    top: 100px;
    left: 100px;
    cursor: pointer;
    transition: all 0.3s;
    height: 80px;
    size: 80px;
}

.fish {
    position: fixed;
    top: 300px;
    left: 300px;
    cursor: pointer;
    transition: all 0.3s;
    height: 200px;
    size: 200px;
}